@import './base.css';
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');
@import 'vue-select/dist/vue-select.css';
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.select-container .vs__search::placeholder,
.select-container .vs__dropdown-toggle,
.select-container .vs__dropdown-menu {
  background: var(--bs-secondary-bg);
  border: none;
  color: var(--bs-heading-color);
  padding: 0.5rem;
}

.select-container .vs__selected {
  color: var(--bs-heading-color);
}

.select-container .vs__clear,
.select-container .vs__open-indicator {
  fill: var(--bs-heading-color);
}

.search-btn-container {
  position: absolute;
  top: 0;
  z-index: 1;
  right: 12px;
}

.select-container .btn {
  border-radius: 0;
}

.select-container .form-control {
  border-radius: 0 !important;
}

.select-container {
  position: relative;
}

.filter-selector-container .btn-time-period {
  width: auto;
  border-radius: 0;
}
.content {
  margin: auto 0;
}
.content .card {
  height: 100%;
}

.content .heading {
  background: var(--bs-secondary-bg);
  padding: 8px;
  padding-right: 1rem;
}

.content {
  padding: 2rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.content-empty {
  /* font-weight: bold; */
  display: flex;
  justify-content: center;

  align-items: center;
  font-size: 2rem;
  flex-direction: column;
}
